<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observador - Como está sua cidade?</title>
    <link rel="stylesheet" type="text/css" href="/public/files/main.css">
    <link rel="stylesheet" type="text/css" href="/public/files/grid.css">
    <link rel="shortcut icon" href="/public/images/favicon.png" />
</head>
<body>
    <div class="content">
    <nav>
        <div class="logo">
            <a href="/"><img src="/public/images/logo.png" alt=""></a>
        </div>
        <ul>
            <li><i class="fas fa-sign-in-alt"></i> <a href="/views/cadastro.html">LOGIN / CADASTRE-SE</li></a>
        </ul>
    </nav>

    <section>
        <div class="telas">
            <div class="tela">
                <h1>Faça Login</h1>
                <form action="GET">
                    <label for="">E-mail:</label>
                    <input type="email" name="" id="">
                    <label for="">Senha:</label>
                    <input type="password" name="" id="">
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="tela">
                <h1>ou Cadastre-se</h1>
                <form action="GET">
                    <label for="">E-mail:</label>
                    <input type="email" name="" id="">
                    <label for="">Senha:</label>
                    <input type="password" name="" id="">
                    <label for="">Nome de Usuário:</label>
                    <input type="text" name="" id="">
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </section>

    </div>
    
    <footer>
        <div class="content">
            <div class="whodid">Idealizado com ❤️<br> por <span class="destaque">Jhonatan Kayo</span></div>
            <div class="contact">Gostou de meu trabalho? Fala comigo:<br>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>

    <script src="public/files/script.js"></script>
    <script src="https://kit.fontawesome.com/0e1c1e8b54.js" crossorigin="anonymous"></script>
</body>
</html>