<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observador - Como está sua cidade?</title>
    <link rel="stylesheet" type="text/css" href="/public/files/main.css">
    <link rel="stylesheet" type="text/css" href="/public/files/grid.css">
    <link rel="shortcut icon" href="/public/images/favicon.png" />
</head>
<body>
    <div class="content">
    <nav>
        <div class="logo">
            <a href="/"><img src="/public/images/logo.png" alt=""></a>
        </div>
        <ul>
            <li><i class="fas fa-sign-in-alt"></i> <a href="">LOGIN / CADASTRE-SE</li></a>
        </ul>
    </nav>

    <section class="solicitacoes">
        <h1>Solicitações</h1>
        <div class="cards">
            <div class="card">
                <img src="/public/images/01.jpg" alt="">
                <div class="descricao">
                    <h3>Buraco na Rua dos investimentos perdidos</h3>
                    <p>Data: 03/01/2012</p>
                </div>
                <div class="tag" id="unsolved">Sem Solução</div>
            </div>
            <div class="card">
                <img src="/public/images/02.jpg" alt="">
                <div class="descricao">
                    <h3>Homem louco na praça das bicicletas</h3>
                    <p>Data: 11/12/2018</p>
                </div>
                <div class="tag" id="solved">Sem Solução</div>
            </div>
        </div>
    </section>

    </div>
    
    <footer>
        <div class="content">
            <div class="whodid">Idealizado com ❤️<br> por Jhonatan Kayo</div>
            <div class="contact">Gostou de meu trabalho? Fala comigo:<br>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>

    <script src="public/files/script.js"></script>
    <script src="https://kit.fontawesome.com/0e1c1e8b54.js" crossorigin="anonymous"></script>
</body>
</html>